/* .rbc-today {
  background-color: hsl(var(--primary));
  color: hsl(var(--primary-foreground)) !important;
  border-radius: calc(var(--radius) - 2px);
} */
/* .rbc-button-link {
  color: hsl(var(--primary-foreground)) !important;
} */

.rbc-event {
  background-color: var(--primary);
  color: var(--primary-foreground);
}

.rbc-event.rbc-selected {
  background-color: var(--primary-foreground);
  color: var(--primary);
}
.rbc-btn-group button + button {
    border: none;
}
.rbc-btn-group > button:first-child:not(:last-child) {
    border:none
}
.rbc-toolbar button:active,
.rbc-toolbar button.rbc-active {
  background-color: hsl(var(--primary-foreground));
  color: var(--primary);
}

.rbc-toolbar button:focus {
  -webkit-box-shadow: 0 0 0 3px hsl(var(--primary-foreground));
  box-shadow: 0 0 0 3px var(--primary-foreground);
}
.rbc-month-view {
  border-radius: calc(var(--radius) - 2px);
  border: none;
}
.rbc-off-range-bg {
  background-color: transparent;
}
.rbc-day-bg + .rbc-day-bg {
  border: none;
  background-color: var(--primary-foreground);
  color: var(--primary);
}
.rbc-month-row + .rbc-month-row {
  border: none;
}
.rbc-header {
  border: none;
  text-transform: uppercase;
}

.rbc-toolbar {
  border: none;
}
